{% extends "layout.html" %}

{% block body %}

<main>
  <div class="main-bgflex">
    <img src="/static/kates-pic2.jpg" class="kates-pic2">
    <div class="abouttext-container">
      <h3 class="h1v3">Holistic Consultant</h3>
      <p align="center";>
        Cathleen holds USUI Reiki and Mindfulness master certifications and is pursuing her master's certification in astrology.  She serves the collective through her innate giftings of leadership, teaching, soul-coaching, podcasting, digital creating, and intuitive channeling.   She is a wife, mother, and grandmother.  She enjoys spending time with her family, researching, reading, connecting with her local groups, gardening, and being in nature.  

        Cathleen is working on her Ph.D. through the Kingdom College of Natural Health in Naturopathic Psychology, N.D. Psy, with her concentration on inner healing from childhood traumas.  She assists and guides clients to overcome past trauma(s) by addressing and clearing trapped, energetic wounds.  She firmly believes in the power of your inner voice and guides others back to reconnect with their own.  
      </p>
    </div>
  </div>
  <div class="second-bg">
      <h3 class="placements-h3">Cathleen's Astrological Placements</h3>
      <br><br><br><br><br>
      <ul class="placements">
        <li>Cancer Sun</li>
        <li> Cancer Hekate</li>
        <li>Cancer Moon</li>
        <li>Cancer Venus</li>
        <li>Cancer North Node</li>
        <li>Scorpio Rising</li>
        <li>Scorpio Neptune Rising</li>
        <li>Scorpio Lilith Rising</li>
        <li>Scorpio Black Moon Lilith Rising</li>
        <li>Scorpio Psyche Rising</li>
        <li>Scorpio Part of Fortune Rising</li>
        <li>Pisces Chiron</li>
      </ul>
  </div>
  <div class="main-bg">
    <h2 class="h1v3">Certifications/Memberships</h2>
    <h3 class="placements-h3">Natural Healer Society Member</h3>
    <div align="center">
    <img src="static/nhsmember.png" class="certifications">
    </div>
    <br><br>
    <h3 class="placements-h3">Reiki Master</h3>
    <div align="center" border-bottom="1px";>
    <img src="static/reikimaster.png" class="certifications">
    </div>
    <br><br>
    <h3 class="placements-h3">Mindfullness Practitioner</h3>
    <div align="center" border-bottom="1px";>
    <img src="static/mindfullnesspractitioner.png" class="certifications">
    </div>
  </div>
</main>



{% endblock %}