{% extends "layout.html" %}

{% block body %}

<main>
  <div class="index-bg">
    <img src="/static/Kate.webp" class="Kates-pic">
    <div class="index2-bg">
      <h1 class="h1INDEX">
        Modalities
      </h1>
      <ul class="services">
        <li> <a href="/services#astrology-services">
          Astrology Services </a>
        </li>
        <Li>  <a href="/services#tarot-services">
          Tarot Reading Services </a>
        </Li>
        <li> <a href="/services#reiki-services">
          Usui Reiki Services </a>
        </li>
        <li> <a href="link1.html">
          Soul Coaching Services </a>
        </li>
       
      </ul>
    </div>
    <div class="images-container">
      <img src="/static/astrology.webp" class="modalities">
      <img src="/static/tarot.webp" class="modalities">
      <img src="/static/reiki.webp" class="modalities">
      <img src="/static/mindfulness.webp" class="modalities">
      <img src="/static/soulcoaching.webp" class="modalities">
      <img src="/static/stars.webp" class="modalities">
      <img src="/static/meditate.webp" class="modalities">
      <img src="/static/crystals.png" class="modalities">
    </div>
  </div>
</main>



{% endblock %}