{% extends "layout.html" %}

{% block body %}

<main>
  <div class="third-bg">
    <img src="/static/legal.webp" class="legal";>
    <div class="legaltext-container">
    <h3 align="center">Legal Disclaimer for Astrology and Card Readings</h3>
    <p align="center">
      The astrological interpretation and consultation guidance offered by Cathleen L. Thomas (Star Point Consulting, LLC) may complement but does not replace psychotherapy or traditional medical care. The information highlights another way to view physical/mental wellness and spirituality. I occasionally recommend spiritual literature, counsel, healing crystals, or herbal treatments but do not prescribe medication. My services are not intended for primary medical intervention. By requesting my service, you agree to consider my services complementary to your primary healthcare provider's considerations and that advice or content from my services may or may not influence your decisions and behavior. You agree to take full responsibility for all consequences of the information provided. The astrological interpretation report and consultation should not replace advice programs or treatment you would usually receive from licensed lawyers, doctors, psychiatrists, or financial advisors.
    </p>
  </div>

  </div>
</main>



{% endblock %}