{% extends "layout.html" %}

{% block body %}
<main>
  <div class="second-bg" id="astrology-services">
    <h3 class="h1v4">Astrology Services</h3>
    <h1 class="h1v5" style="text-align: center; font-size: 35px;">To book services email thecronesnestnetwork@gmail.com</h1>
    <h3 class="h1v5" style="text-align: center; font-size: 35px;">*Ask me about custom services*</h3>
    <p style="text-align: center; font-style: italic, bold; font-size: 25px;">
      Astrology can provide insight and understanding into our inner selves, including our character, tendencies, strengths, and challenges.  This information can be immensely helpful in our personal growth and soul journey.  
    </p>
    <ul class="products2">
      <li class="product-item2">
          <div>
              <h3>Shadow Work~Wounds & Remedies</h3>
              <p>This session covers the planets and asteroids of Pluto, Mars, Saturn, Chiron, Pholos, and Psyche within the natal chart. It reveals where, how, and when the wounds occurred and your best course of action for inner healing from trauma caused by self or others. <br><br> Lifetime Mp4 with charts and slides are included along with a written report. <br><br> 
                90 minutes.  </p>
          </div>
          <div>
              $120
          </div>
      </li>
      <li class="product-item2">
          <div>
              <h3>Natal Pluto Transformation & Soul Lessons</h3>
              <p>This is an intensive astrological reading of your natal transit chart positions of Pluto. This reading allows you to understand your blueprint and energetic signatures relating to themes of transformation, transmutation, integration, regeneration, and inner healing, also known as your "soul path." I guide you inward to your own power and voice through energy work to clear trauma, stale and unwanted energies. <br><br>  Lifetime Mp4 w/ charts/ slides are included along with a written report. <br><br>
                90 minutes.</p>
          </div>
          <div>
              $120
          </div>
      </li>
      <li class="product-item2">
        <div>
            <h3>North Node/South Node</h3>
            <p>This chart reading helps you understand your "mission" and the best path to follow this lifetime. It answers the questions, "Where am I headed this lifetime? What do I need to integrate from my former life (karmic influences), and what should I release? What do I need to grow, nurture, embrace, and go towards this lifetime? It also can reveal areas where one can become addicted and manic in pursuit of goals. <br><br>Lifetime Mp4 with charts/nd slides are included along with a written report. <br><br>
              90 minutes</p>
        </div>
        <div>
            $88
        </div>
    </li>
    <li class="product-item2">
      <div>
          <h3>One Question</h3>
          <p>This chart reading allows you ask one question on any topic. <br><br> Lifetime Mp3 Only.  <br><br>
             30 minutes
          </p>
      </div>
      <div>
          $22
      </div>
  </li>
  <li class="product-item2">
    <div>
        <h3>Natal Chart Goddesses</h3>
        <p>This is a reading of your natal chart regarding the four Main Goddesses and their energetic signatures. You can choose from a natal chart or transit report placements. The four main Asteroids-Ceres, Pallas Athene, Vesta, and Juno will be analyzed. See my Youtube  episode for further work concerning these Goddesses: <a href="https://youtu.be/N_J7xnCd1NY"> </ahref>Asteroid Goddesses</a>
          <br>
        Lifetime MP4 link and written report.  <br>
        90 minutes.
        </p>
    </div>
    <div>
        $88
    </div>
</li>
<li class="product-item2">
  <div>
      <h3>Lilith</h3>
      <p>This is a reading of your natal chart regarding the placement of the  Goddess and her energetic signatures. You can choose from a natal chart or transit report placements.  See my Podcast for further work concerning this Goddess: <a href="https://youtu.be/MmAoorChifc">Lilith</a>
        <br><br>
        Lifetime MP4 link and written report.  
        <br><br>
        90 minutes.
      </p>
  </div>
  <div>
      $88
  </div>
</li>
<li class="product-item2">
  <div>
      <h3>Hekate</h3>
      <p>This is a reading of your natal chart regarding the placement of the  Goddess Hekate and her energetic signatures. You can choose from a natal chart or transit report placements.  See my Podcast for further work concerning this Goddess: <a href="https://youtu.be/Bmb0p53hRv4" >Hekate</a>
        <br><br>
        Lifetime MP4 link and written report.  
        <br><br>
        90 minutes.
      </p>
  </div>
  <div>
      $88
  </div>
</li>

  </ul>
  </div>
  <div class="main-bg" id="tarot-services">
    <h1 class="h1v7">Tarot</h1>
    <h3 class="h1v6" style="text-align: center; font-size: 35px;">To book services email thecronesnestnetwork@gmail.com</h3>
    <p style="text-align: center; font-style: italic, bold; font-size: 25px;">
      Tarot is a powerful tool that can provide numerous benefits to individuals.  It can offer guidance and insight into our lives, helping us to understand our emotions, relationships, and personal growth.   Tarot sessions can also help us to gain clarity and make important decisions. 
    </p>
    <ul class="products">
      <li class="products-item">
        <div>
            <h3>The Medicine Wheel Spread</h3>
            <p>This is a 5 card spread that allows us to tap into the current energies and needs of the mind, body, soul, and emotions regarding your concern.  Additional decks and oracle cards may be used. 
            <br><br>  
            This is a recorded live session with a lifetime MP4, complete with pictures of the cards and decks used for further study and reflection. I also offer remedies for the chakras and balancing your internal energies.  
              <br><br>
              45 minutes.
            </p>
        </div>
        <div>
            $44
        </div>
      </li>
      <li class="products-item">
        <div>
            <h3>Relationships Spread</h3>
            <p>This is a reading designed to help you uncover roots issues and concerns regarding your ways of relating and relationship dynamics.
            <br><br>  
            This is a recorded live session with an MP4, complete with pictures of the cards and decks used for further study and reflection. I also offer remedies for the chakras and balancing your internal energies.  
              <br><br>
              45 minutes.
            </p>
        </div>
        <div>
            $44
        </div>
      </li>
      <li class="products-item">
        <div>
            <h3>Career</h3>
            <p>This is a reading designed to guide you in your career concerns. 
            <br><br>  
            This is a recorded live session with a lifetime MP4, complete with pictures of the cards and decks used for further study and reflection. I also offer remedies for the chakras and balancing your internal energies.  
              <br><br>
              45 minutes.
            </p>
        </div>
        <div>
            $44
        </div>
      </li>
    </ul>
  </div>
  <div class="second-bg">
    <h1 class="h1v4">Usui Reiki</h1>
    <h1 class="h1v5" style="text-align: center; font-size: 35px;">To book services email thecronesnestnetwork@gmail.com</h1>
    <p style="text-align: center; font-style: italic, bold; font-size: 25px;">
      Reiki healing is a spiritual and holistic practice that aims to balance the energy flow in the body, promote relaxation, and stimulate the body's natural healing abilities. 
    </p>
    <ul class="products2" id="reiki-services">
      <li class="product-item2">
        <div>
            <h3>Usui Reiki</h3>
            <p>This session also includes holistic tips and strategies for centering and balancing the chakras.  We will address and release stored energies that are connected with trauma and loss.  
              <br><br>
              90 minutes.
              </p>
        </div>
        <div>
            $88
        </div>
    </li>

    </ul>
  </div>
</main>

{% endblock %}